footer{
    background-color:#4db5ff ;
    padding: 3rem 0;
    text-align: center;
    font-size: .9rem;
    margin-top: 7rem;
}
footer a {
    color:#1f1f38;
}
.footer_logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: block;
}
.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.footer_socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 3rem;
}
.footer_socials a{
    background-color: #1f1f38;
    color: white;
    padding: .8rem;
    border-radius: .7rem;
    display: flex;
    border: 1px solid transparent;
}
.footer_socials a:hover{
    background-color: transparent;
    color: #1f1f38;
    border-color: #1f1f38;
}
@media screen and (max-width: 1024px) {
 .permalinks{
    flex-direction: column;
    gap: 1.5rem;
 }
 .footer_socials{
    margin-bottom: 2.5rem;
 }
     }
     /* MEDIA QUERIES (SMALL DEVICES) */
     @media screen and (max-width: 600px) {

   }