#experience{
  height: fit-content;
  margin-bottom: 20px;
}


.experience_container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem;
}
.experience_container > div{
    padding: 2.5rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: #2c2c6c;
    cursor: default;
}
.experience_container > div h3{
    text-align: center;
    color: #4db4ff;
    margin-bottom: 1rem;
}
.experience_content{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.experience_details{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 1.4rem;
}
.experience_details_icon{
    margin-top: 6px;
    color: #4db5ff;
}
/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .experience_container{
    grid-template-columns: 1fr;
  }
  .experience_container >div{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;

  }
  .experience_content{
    padding: 1rem;
  }
  }
  /* MEDIA QUERIES (SMALL DEVICES) */
  @media screen and (max-width: 600px) {
.experience_container{
    gap: 1rem;
}
.experience_container >div{
    width: 100%;
    padding: 2rem 1rem;
}
  }
