nav{
    background-color: rgba(0,0,0,.3);
    width: max-content;
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: .7rem 1.7rem;
    bottom: 2rem;
    gap: .8rem;
    border-radius: 3rem;
    backdrop-filter: blur(150px);
}

nav a {
    background: transparent;
    padding: .9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    color:rgba(255,255,255,.6)
}
nav a:hover{
    background-color: rgba(0,0,0,.3);
}
nav a.active{
    color: red;
    background-color: blueviolet;
}